.start-page{
  padding: 2rem 3rem;
  background: rgb(141,137,209);
  background: linear-gradient(24deg, rgba(141,137,209,1) 0%, rgba(14,136,96,1) 49%, rgba(77,184,205,1) 100%);
border-radius: 10px;
}
.about-app{
  padding: 2rem 0;
}
.app-title{
  text-align: center;
  font-size: 5.5rem;
  color: #cbe4fa;
}
.app-text{
  padding: 1rem 0;
  font-size: 2.8rem;
  color: #8abe2a;
  letter-spacing: 0.7px;
}