.sprint-page{
	padding: 1rem 2rem;
	min-height: 95vh;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../../../../assets/sprint/coffin.jpg');
	background-color: #000;
}